In [1]:
import pandas as pd

# Create a Series Object from a Python List

In [3]:
ice_cream = ['Chocolate', 'Vanilla', 'Strawberry']
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
dtype: object

# Create a Series object from a Python Dictionary

In [5]:
webster = {
    'Wolf': 'An animal',
    'Banana': 'A fruit'
}
pd.Series(webster)

Wolf      An animal
Banana      A fruit
dtype: object

# Into the Series Attributes

In [8]:
about_me = ['Smart', 'Handsome', 'Genius', 'Humble']
s = pd.Series(about_me)
s

0       Smart
1    Handsome
2      Genius
3      Humble
dtype: object

In [10]:
s.values

array(['Smart', 'Handsome', 'Genius', 'Humble'], dtype=object)

In [11]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
s.dtype

dtype('O')

# Into the Series Methods

In [16]:
prices = [2.99, 4.45, 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [17]:
s.sum()

8.8

In [18]:
s.product()

18.095480000000006

In [19]:
s.mean()

2.9333333333333336

# Parameters and Arguments

In [22]:
fruits = ['apple', 'orange', 'plum', 'banana']
weekdays = ['monday', 'wednesday', 'friday', 'friday']
pd.Series(fruits, weekdays)

monday        apple
wednesday    orange
friday         plum
friday       banana
dtype: object

# Import Series with read_csv Method

In [28]:
pokemon = pd.read_csv('datasets/pokemon.csv', usecols=['Pokemon'], squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [29]:
google = pd.read_csv('datasets/google_stock_price.csv', squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# The .head() and .tail() methods

In [30]:
pokemon = pd.read_csv('datasets/pokemon.csv', usecols=['Pokemon'], squeeze=True)
google = pd.read_csv('datasets/google_stock_price.csv', squeeze=True)

In [32]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [33]:
google.tail(3)

3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64