In [1]:
import pandas as pd

# Create a Series Object from a Python List

In [3]:
ice_cream = ['Chocolate', 'Vanilla', 'Strawberry']
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
dtype: object

# Create a Series object from a Python Dictionary

In [5]:
webster = {
    'Wolf': 'An animal',
    'Banana': 'A fruit'
}
pd.Series(webster)

Wolf      An animal
Banana      A fruit
dtype: object

# Into the Series Attributes

In [8]:
about_me = ['Smart', 'Handsome', 'Genius', 'Humble']
s = pd.Series(about_me)
s

0       Smart
1    Handsome
2      Genius
3      Humble
dtype: object

In [10]:
s.values

array(['Smart', 'Handsome', 'Genius', 'Humble'], dtype=object)

In [11]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
s.dtype

dtype('O')

# Into the Series Methods

In [16]:
prices = [2.99, 4.45, 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [17]:
s.sum()

8.8

In [18]:
s.product()

18.095480000000006

In [19]:
s.mean()

2.9333333333333336

# Parameters and Arguments

In [22]:
fruits = ['apple', 'orange', 'plum', 'banana']
weekdays = ['monday', 'wednesday', 'friday', 'friday']
pd.Series(fruits, weekdays)

monday        apple
wednesday    orange
friday         plum
friday       banana
dtype: object